<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<!-- Render partial once for each comment that is in the
@article.comments collection.   -->
<h2>Comments</h2>
<%= render @article.comments  %>

<!-- Add a comment -->
<h2>Add a comment:</h2>
<!-- The second render just defines a partial template we want to
render, in this case 'comments/form' -->
<%= render 'comments/form'  %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<!-- A link like the one above can point to a different controller or view. To point to a controller:
link_to "Label", :controller => :my_controller, :action => :index -->
<!-- This link takes you back to the articles list  -->
<!-- <%= render plain: @article.title %> erb can be used to render plain views to the screen. Good for t-shooting-->
